@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

body {
    min-height: 100vh;
    width: 100vh !;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
}


a {
    color: inherit;
}

i {
    display: inline-block;
    height: 3em;
    padding: 0.5em;
}

button {
    background-color: #D90368 !important;
}

span {
    font-weight: 700;
}

footer {
    margin-top: 2.5rem;
}
.btn-dark{
    background-color: #D90368 !important;
}
.nav_logo {
    height: 2em;
}

.nav-link {
    font-weight: bold;
}

.text-bg-dark {
    color: #ff3091 !important;
    font-weight: 400;
}

.navbar-dark {
    --bs-navbar-active-color: #ff3091;
}

.menu_text {
    color: aliceblue;
}

.cards_img {
    height: 225px;
    width: 100%;
}
.card-body {
    display: flex;
    flex-direction: column;
}

.social_icons {
    font-size: 1.2em;
}

.form_message {
    min-height: 5em;
}

.circle_bg {
    background-image: url("../assets/background_3d.jpg")
}
.card {
    height: 100%;
}

.is_hidden {
	display: none!important ;
    position: absolute;
}

.border{
    border: 2px solid #5b78ff!important;
}

.navBanner{
    color: whitesmoke;
    font-size: 3rem;
    border-top: 2px solid bisque;
    border-bottom: 2px solid bisque;
    background-color: rgba(15, 1, 26, 0.5)
}

.arrow{
    font-size: 3.5rem;
    font-weight: 650;
}

.col{
    display: flex;
    align-items: center;
    justify-content: center;
}

.detail_col{
    width: 30rem;
}

.image_detail {
    width:100%;
    height: 100%;
}

.strong{
    font-size: large;
    font-weight: 800;
}

#album {
    background-color: #00000000!important;
}

#checkContainer {
    color:#6f8aff;
    font-weight: bold;
}